<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>javaweb</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>FirstServlet</servlet-name>
    <servlet-class>com.helloweenvsfei.servlet.FirstServlet</servlet-class>
    <init-param>
      <param-name>message</param-name>
      <param-value>welcome to FirstServlet</param-value>
    </init-param>
    <init-param>
      <param-name>encoding</param-name>
      <param-value>utf-8</param-value>
    </init-param>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>FirstServlet</servlet-name>
    <url-pattern>/servlet/FirstServlet</url-pattern>
    <url-pattern>/servlet/FirstServlet.asp</url-pattern>
    <url-pattern>/servlet/FirstServlet.jsp</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>IdentityServlet</servlet-name>
    <servlet-class>com.helloweenvsfei.servlet.IdentityServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>IdentityServlet</servlet-name>
    <url-pattern>/servlet/IdentityServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>InitParamServlet</servlet-name>
    <servlet-class>com.helloweenvsfei.servlet.InitParamServlet</servlet-class>
    <init-param>
      <param-name>helloween</param-name>
      <param-value>password</param-value>
    </init-param>
    <init-param>
      <param-name>admin</param-name>
      <param-value>admin</param-value>
    </init-param>
    <init-param>
      <param-name>babyface</param-name>
      <param-value>babyface</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>InitParamServlet</servlet-name>
    <url-pattern>/servlet/InitParamServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>InjectionServlet</servlet-name>
    <servlet-class>com.helloweenvsfei.servlet.InjectionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InjectionServlet</servlet-name>
    <url-pattern>/servlet/InjectionServlet</url-pattern>
  </servlet-mapping>
  <env-entry>
    <env-entry-name>hello</env-entry-name>
    <env-entry-type>java.lang.String</env-entry-type>
    <env-entry-value>Hello, Welcom to the JavaEE Resource Injection.</env-entry-value>
  </env-entry>
  <env-entry>
    <env-entry-name>i</env-entry-name>
    <env-entry-type>java.lang.Integer</env-entry-type>
    <env-entry-value>30</env-entry-value>
  </env-entry>
  <env-entry>
    <env-entry-name>persons</env-entry-name>
    <env-entry-type>java.lang.String</env-entry-type>
    <env-entry-value>Helloween, Cobain, Reses, Axl, </env-entry-value>
  </env-entry>
  <servlet>
    <servlet-name>UploadServlet</servlet-name>
    <servlet-class>
			com.helloweenvsfei.servlet.UploadServlet
		</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UploadServlet</servlet-name>
    <url-pattern>/javaweb/UploadServlet</url-pattern>
  </servlet-mapping>
</web-app>